makler_crm_flow.json
{
  "name": "Makler CRM v2",
  "nodes": [
    {
      "parameters": {
        "content": "PRO KUNDE ANPASSEN:\n1. Node Lead-ID: makler_slug setzen\n2. Node Makler Mail: sendTo auf Makler-E-Mail\n3. Alle Leads holen Nodes: MAKLER_ID anpassen\n\nMAILGUN (spaeter):\nGmail-Nodes durch Mailgun-Nodes ersetzen"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-250, -400],
      "id": "sticky-01",
      "name": "Setup Hinweise"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "makler_tally",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "node-01",
      "name": "Webhook",
      "webhookId": "3c8170a7-c486-443a-b7cf-e6b32d098095"
    },
    {
      "parameters": {
        "jsCode": "const fields = $json.body.data.fields;\n\nconst getByKey = (key) => {\n  const f = fields.find(f => f.key === key);\n  if (!f || f.value === null) return null;\n  if (Array.isArray(f.value)) {\n    if (f.value.length === 0) return null;\n    return f.value.map(id => f.options?.find(o => o.id === id)?.text).filter(Boolean).join(', ');\n  }\n  return f.value;\n};\n\nconst objekttyp = getByKey('question_AJrWLy') || getByKey('question_eA5990') || getByKey('question_WoJllj') || null;\n\nreturn [{\n  json: {\n    name:         getByKey('question_axOZYZ'),\n    email:        getByKey('question_6kDr2A'),\n    telefon:      getByKey('question_7DX42a'),\n    service:      getByKey('question_bkZNx6'),\n    objekttyp,\n    budget:       getByKey('question_B1E8ke'),\n    zeitrahmen:   getByKey('question_kAbO6r'),\n    region:       getByKey('question_vBXqyg'),\n    nachricht:    getByKey('question_Kop8lg'),\n    submissionId: $json.body.data.submissionId,\n    formId:       $json.body.data.formId,\n    createdAt:    $json.body.data.createdAt\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 0],
      "id": "node-02",
      "name": "Daten parsen"
    },
    {
      "parameters": {
        "jsCode": "const now = Date.now().toString(36).toUpperCase();\nconst rnd = Math.random().toString(36).slice(2, 6).toUpperCase();\nreturn [{\n  json: {\n    ...$input.first().json,\n    lead_id: 'LEAD-' + now + '-' + rnd,\n    makler_slug: 'MAKLER_ID'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 0],
      "id": "node-03",
      "name": "Lead-ID"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Du bist ein erfahrener Lead-Qualifizierungs-Assistent fuer Immobilienmakler in Deutschland. Analysiere Leads praezise und professionell. Antworte NUR mit validem JSON, kein Text drumherum."
            },
            {
              "content": "=Analysiere diesen Immobilien-Lead:\n\nName: {{ $json.name }}\nService: {{ $json.service }}\nObjekttyp: {{ $json.objekttyp }}\nBudget: {{ $json.budget }}\nZeitrahmen: {{ $json.zeitrahmen }}\nRegion: {{ $json.region }}\nNachricht: {{ $json.nachricht }}\n\nGib zurueck:\n{\n  \"score\": (1-100),\n  \"score_begruendung\": \"praezise Begruendung\",\n  \"prioritaet\": \"Hoch|Mittel|Niedrig\",\n  \"naechster_schritt\": \"konkreter naechster Schritt fuer den Makler\",\n  \"zusammenfassung\": \"3-4 Saetze: wer ist der Lead, was sucht er, wie ernst ist er\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [750, 0],
      "id": "node-04",
      "name": "GPT Qualifizierung",
      "credentials": {
        "openAiApi": {
          "id": "yPd0z65r12rtD5ip",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output[0].content[0].text;\nconst ai = JSON.parse(text);\nreturn [{\n  json: {\n    ...$('Lead-ID').first().json,\n    score:             ai.score,\n    score_begruendung: ai.score_begruendung,\n    prioritaet:        ai.prioritaet,\n    naechster_schritt: ai.naechster_schritt,\n    zusammenfassung:   ai.zusammenfassung\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 0],
      "id": "node-05",
      "name": "GPT Parsen"
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "makler_leads",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "makler_slug",       "fieldValue": "={{ $json.makler_slug }}" },
            { "fieldId": "name",              "fieldValue": "={{ $json.name }}" },
            { "fieldId": "email",             "fieldValue": "={{ $json.email }}" },
            { "fieldId": "phone",             "fieldValue": "={{ $json.telefon }}" },
            { "fieldId": "service",           "fieldValue": "={{ $json.service }}" },
            { "fieldId": "property_type",     "fieldValue": "={{ $json.objekttyp }}" },
            { "fieldId": "budget_text",       "fieldValue": "={{ $json.budget }}" },
            { "fieldId": "timeframe",         "fieldValue": "={{ $json.zeitrahmen }}" },
            { "fieldId": "location",          "fieldValue": "={{ $json.region }}" },
            { "fieldId": "nachricht",         "fieldValue": "={{ $json.nachricht }}" },
            { "fieldId": "submission_id",     "fieldValue": "={{ $json.submissionId }}" },
            { "fieldId": "score",             "fieldValue": "={{ $json.score }}" },
            { "fieldId": "score_begruendung", "fieldValue": "={{ $json.score_begruendung }}" },
            { "fieldId": "status",            "fieldValue": "={{ $json.prioritaet }}" },
            { "fieldId": "naechster_schritt", "fieldValue": "={{ $json.naechster_schritt }}" },
            { "fieldId": "ai_summary",        "fieldValue": "={{ $json.zusammenfassung }}" },
            { "fieldId": "source",            "fieldValue": "tally" },
            { "fieldId": "follow_up_1_sent",  "fieldValue": false },
            { "fieldId": "follow_up_2_sent",  "fieldValue": false },
            { "fieldId": "follow_up_3_sent",  "fieldValue": false }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1300, 0],
      "id": "node-06",
      "name": "Lead speichern",
      "credentials": {
        "supabaseApi": { "id": "SUPABASE_CRED_ID", "name": "Supabase account" }
      }
    },
    {
      "parameters": {
        "sendTo": "MAKLER_EMAIL@beispiel.de",
        "subject": "=Neuer Lead - Score {{ $json.score }}/100 - {{ $json.prioritaet }} - {{ $json.name }}",
        "emailType": "text",
        "message": "=Neuer Lead eingegangen\n----------------------\n\nScore: {{ $json.score }}/100 - {{ $json.prioritaet }}\nBegruendung: {{ $json.score_begruendung }}\n\nLEAD-DETAILS\n----------------------\nName:       {{ $json.name }}\nE-Mail:     {{ $json.email }}\nTelefon:    {{ $json.telefon }}\nService:    {{ $json.service }}\nObjekttyp:  {{ $json.objekttyp }}\nBudget:     {{ $json.budget }}\nZeitrahmen: {{ $json.zeitrahmen }}\nRegion:     {{ $json.region }}\nNachricht:  {{ $json.nachricht }}\n\nKI-ZUSAMMENFASSUNG\n----------------------\n{{ $json.zusammenfassung }}\n\nNAECHSTER SCHRITT\n----------------------\n{{ $json.naechster_schritt }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1550, 0],
      "id": "node-07",
      "name": "Makler Mail",
      "credentials": {
        "gmailOAuth2": { "id": "gikksV5505M93PD4", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Ihre Anfrage ist eingegangen - {{ $json.objekttyp }} {{ $json.service }}",
        "emailType": "text",
        "message": "=Guten Tag {{ $json.name }},\n\nvielen Dank fuer Ihre Anfrage - wir haben Ihre Angaben geprueft und erste passende Objekte identifiziert.\n\nIHRE SUCHE\n----------------------\nService:    {{ $json.service }}\nObjekttyp:  {{ $json.objekttyp }}\nBudget:     {{ $json.budget }}\nZeitrahmen: {{ $json.zeitrahmen }}\nRegion:     {{ $json.region }}\n\nWir melden uns innerhalb der naechsten 24 Stunden persoenlich bei Ihnen.\n\nMit freundlichen Gruessen\nIhr Makler-Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1800, 0],
      "id": "node-08",
      "name": "Lead Mail",
      "credentials": {
        "gmailOAuth2": { "id": "gikksV5505M93PD4", "name": "Gmail account" }
      }
    },
    {
      "parameters": { "rule": { "interval": [{ "triggerAtHour": 9 }] } },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 500],
      "id": "node-09",
      "name": "Schedule Follow-up 1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "makler_leads",
        "returnAll": true,
        "filters": {
          "conditions": [
            { "keyName": "follow_up_1_sent", "condition": "eq", "keyValue": false },
            { "keyName": "makler_slug", "condition": "eq", "keyValue": "MAKLER_ID" }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [250, 500],
      "id": "node-10",
      "name": "Leads holen 1",
      "credentials": {
        "supabaseApi": { "id": "SUPABASE_CRED_ID", "name": "Supabase account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const cutoff = new Date(Date.now() - 24 * 60 * 60 * 1000);\nreturn $input.all().filter(item => {\n  if (!item.json.created_at) return false;\n  return new Date(item.json.created_at) <= cutoff;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 500],
      "id": "node-11",
      "name": "Filter Tag 1"
    },
    {
      "parameters": { "options": {} },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [750, 500],
      "id": "node-12",
      "name": "Loop 1"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Ihre Immobilien-Anfrage - haben Sie schon geschaut?",
        "emailType": "text",
        "message": "=Guten Tag {{ $json.name }},\n\nhaben Sie sich schon die Objekte angesehen, die wir fuer Sie identifiziert haben?\n\nDer Markt in {{ $json.location }} bewegt sich schnell - sichern Sie sich jetzt Ihren kostenlosen Beratungstermin:\n\n[Terminbuchung]\n\nMit freundlichen Gruessen\nIhr Makler-Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1000, 500],
      "id": "node-13",
      "name": "Follow-up 1 Mail",
      "credentials": {
        "gmailOAuth2": { "id": "gikksV5505M93PD4", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "makler_leads",
        "filters": {
          "conditions": [
            { "keyName": "id", "condition": "eq", "keyValue": "={{ $json.id }}" }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "follow_up_1_sent", "fieldValue": true }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1250, 500],
      "id": "node-14",
      "name": "Follow-up 1 Update",
      "credentials": {
        "supabaseApi": { "id": "SUPABASE_CRED_ID", "name": "Supabase account" }
      }
    },
    {
      "parameters": { "rule": { "interval": [{ "triggerAtHour": 9 }] } },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 800],
      "id": "node-15",
      "name": "Schedule Follow-up 2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "makler_leads",
        "returnAll": true,
        "filters": {
          "conditions": [
            { "keyName": "follow_up_2_sent", "condition": "eq", "keyValue": false },
            { "keyName": "follow_up_1_sent", "condition": "eq", "keyValue": true },
            { "keyName": "makler_slug", "condition": "eq", "keyValue": "MAKLER_ID" }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [250, 800],
      "id": "node-16",
      "name": "Leads holen 2",
      "credentials": {
        "supabaseApi": { "id": "SUPABASE_CRED_ID", "name": "Supabase account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const cutoff = new Date(Date.now() - 3 * 24 * 60 * 60 * 1000);\nreturn $input.all().filter(item => {\n  if (!item.json.created_at) return false;\n  return new Date(item.json.created_at) <= cutoff;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 800],
      "id": "node-17",
      "name": "Filter Tag 3"
    },
    {
      "parameters": { "options": {} },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [750, 800],
      "id": "node-18",
      "name": "Loop 2"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Aktuelle Objekte in {{ $json.location }}",
        "emailType": "text",
        "message": "=Guten Tag {{ $json.name }},\n\nder Immobilienmarkt in {{ $json.location }} bewegt sich schnell.\nHier unsere aktuell verfuegbaren Objekte passend zu Ihrer Suche:\n\n[Objekte einfuegen]\n\nSichern Sie sich jetzt Ihren kostenlosen Beratungstermin:\n\n[Terminbuchung]\n\nMit freundlichen Gruessen\nIhr Makler-Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1000, 800],
      "id": "node-19",
      "name": "Follow-up 2 Mail",
      "credentials": {
        "gmailOAuth2": { "id": "gikksV5505M93PD4", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "makler_leads",
        "filters": {
          "conditions": [
            { "keyName": "id", "condition": "eq", "keyValue": "={{ $json.id }}" }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "follow_up_2_sent", "fieldValue": true }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1250, 800],
      "id": "node-20",
      "name": "Follow-up 2 Update",
      "credentials": {
        "supabaseApi": { "id": "SUPABASE_CRED_ID", "name": "Supabase account" }
      }
    },
    {
      "parameters": { "rule": { "interval": [{ "triggerAtHour": 9 }] } },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 1100],
      "id": "node-21",
      "name": "Schedule Follow-up 3"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "makler_leads",
        "returnAll": true,
        "filters": {
          "conditions": [
            { "keyName": "follow_up_3_sent", "condition": "eq", "keyValue": false },
            { "keyName": "follow_up_2_sent", "condition": "eq", "keyValue": true },
            { "keyName": "makler_slug", "condition": "eq", "keyValue": "MAKLER_ID" }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [250, 1100],
      "id": "node-22",
      "name": "Leads holen 3",
      "credentials": {
        "supabaseApi": { "id": "SUPABASE_CRED_ID", "name": "Supabase account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const cutoff = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000);\nreturn $input.all().filter(item => {\n  if (!item.json.created_at) return false;\n  return new Date(item.json.created_at) <= cutoff;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 1100],
      "id": "node-23",
      "name": "Filter Tag 7"
    },
    {
      "parameters": { "options": {} },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [750, 1100],
      "id": "node-24",
      "name": "Loop 3"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Letzter Aufruf - Ihre Immobilien-Anfrage",
        "emailType": "text",
        "message": "=Guten Tag {{ $json.name }},\n\nwir melden uns ein letztes Mal bezueglich Ihrer Anfrage nach einem {{ $json.property_type }} in {{ $json.location }}.\n\nFalls Sie noch Interesse haben - buchen Sie jetzt Ihren kostenlosen Beratungstermin:\n\n[Terminbuchung]\n\nNach dieser Nachricht werden wir Sie nicht mehr kontaktieren.\n\nMit freundlichen Gruessen\nIhr Makler-Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1000, 1100],
      "id": "node-25",
      "name": "Follow-up 3 Mail",
      "credentials": {
        "gmailOAuth2": { "id": "gikksV5505M93PD4", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "makler_leads",
        "filters": {
          "conditions": [
            { "keyName": "id", "condition": "eq", "keyValue": "={{ $json.id }}" }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "follow_up_3_sent", "fieldValue": true }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1250, 1100],
      "id": "node-26",
      "name": "Follow-up 3 Update",
      "credentials": {
        "supabaseApi": { "id": "SUPABASE_CRED_ID", "name": "Supabase account" }
      }
    }
  ],
  "connections": {
    "Webhook":              { "main": [[{ "node": "Daten parsen",       "type": "main", "index": 0 }]] },
    "Daten parsen":         { "main": [[{ "node": "Lead-ID",            "type": "main", "index": 0 }]] },
    "Lead-ID":              { "main": [[{ "node": "GPT Qualifizierung", "type": "main", "index": 0 }]] },
    "GPT Qualifizierung":   { "main": [[{ "node": "GPT Parsen",         "type": "main", "index": 0 }]] },
    "GPT Parsen":           { "main": [[{ "node": "Lead speichern",     "type": "main", "index": 0 }]] },
    "Lead speichern":       { "main": [[{ "node": "Makler Mail",        "type": "main", "index": 0 }]] },
    "Makler Mail":          { "main": [[{ "node": "Lead Mail",          "type": "main", "index": 0 }]] },
    "Schedule Follow-up 1": { "main": [[{ "node": "Leads holen 1",      "type": "main", "index": 0 }]] },
    "Leads holen 1":        { "main": [[{ "node": "Filter Tag 1",       "type": "main", "index": 0 }]] },
    "Filter Tag 1":         { "main": [[{ "node": "Loop 1",             "type": "main", "index": 0 }]] },
    "Loop 1":               { "main": [[{ "node": "Follow-up 1 Mail",   "type": "main", "index": 0 }], []] },
    "Follow-up 1 Mail":     { "main": [[{ "node": "Follow-up 1 Update", "type": "main", "index": 0 }]] },
    "Follow-up 1 Update":   { "main": [[{ "node": "Loop 1",             "type": "main", "index": 0 }]] },
    "Schedule Follow-up 2": { "main": [[{ "node": "Leads holen 2",      "type": "main", "index": 0 }]] },
    "Leads holen 2":        { "main": [[{ "node": "Filter Tag 3",       "type": "main", "index": 0 }]] },
    "Filter Tag 3":         { "main": [[{ "node": "Loop 2",             "type": "main", "index": 0 }]] },
    "Loop 2":               { "main": [[{ "node": "Follow-up 2 Mail",   "type": "main", "index": 0 }], []] },
    "Follow-up 2 Mail":     { "main": [[{ "node": "Follow-up 2 Update", "type": "main", "index": 0 }]] },
    "Follow-up 2 Update":   { "main": [[{ "node": "Loop 2",             "type": "main", "index": 0 }]] },
    "Schedule Follow-up 3": { "main": [[{ "node": "Leads holen 3",      "type": "main", "index": 0 }]] },
    "Leads holen 3":        { "main": [[{ "node": "Filter Tag 7",       "type": "main", "index": 0 }]] },
    "Filter Tag 7":         { "main": [[{ "node": "Loop 3",             "type": "main", "index": 0 }]] },
    "Loop 3":               { "main": [[{ "node": "Follow-up 3 Mail",   "type": "main", "index": 0 }], []] },
    "Follow-up 3 Mail":     { "main": [[{ "node": "Follow-up 3 Update", "type": "main", "index": 0 }]] },
    "Follow-up 3 Update":   { "main": [[{ "node": "Loop 3",             "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "7d65f06d5727fd7ea1340e81253334160fdf655567796fe28e8590c1a3991530"
  }
}
